<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="myString"
         connectionString="Server=dev.retrotest.co.za;Database=narfo;Trusted_Connection=true" />
  </connectionStrings>
</configuration>